## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [30]:
import pandas as pd
import numpy as np

In [35]:
data = {'國家': ['Taiwan', 'Japan', 'United States', 'South Korea', 'Singapore', 'China', 'United Kingdom', 'North Korea',
               'Germany', 'Denmark', 'Canada', 'Brazil', 'Argentina', 'Portugal', 'Spain', 'Malaysia', 'Phillipines',
               'Egypt', 'Italy', 'Greece', 'Czech', 'Astonia', 'Sweden', 'Finland', 'Norway', 'France', 'Russia', 'South Africa', 
              'Mexico', 'Saudi Arab'] ,
        '人口': np.random.randint(10000, 1000000000, size = 30)}
country_pop = pd.DataFrame(data)
country_pop.sort_values(by = ['人口'],ascending = [False])

                國家         人口
4        Singapore  936221618
1            Japan  915900096
21         Astonia  865254894
20           Czech  795092553
5            China  779100091
15        Malaysia  755274712
25          France  754884484
3      South Korea  731081373
13        Portugal  731076479
24          Norway  611865292
19          Greece  586036382
10          Canada  558862867
0           Taiwan  509002990
22          Sweden  459861888
6   United Kingdom  411255395
8          Germany  381448734
14           Spain  368435441
29      Saudi Arab  304765915
18           Italy  295875741
23         Finland  291378828
9          Denmark  200327407
26          Russia  174364036
11          Brazil  173571280
27    South Africa  137134396
12       Argentina   97437130
17           Egypt   65214320
2    United States   60990585
28          Mexico   30875328
16     Phillipines   11973060
7      North Korea    3626710